<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= "Message: 
#{@controller_message}"%>
<br/>

<%= link_to("Go to Next Page", {:controller => 'welcome', :action => 'index'}) %>

<%= "Count to 10" %>
<br />
<% 11.times do |i| %>
<%= i %>
<% end %>
